@{
    ViewData["Title"] = "Lấy lại mật khẩu JobFinder";
    Layout = "../Shared/_LayoutNonNavBar.cshtml";
}

<div class="content">
    <div class="form-input">
        <a class="logo-brand">
            <img src="./image/Logo.png"/>
        </a>
        <div class="caption">
            <h3>Quên mật khẩu</h3>
        </div>

        <form class="form-login">
            <div class="box-input">
                <p class="title">Email</p>
                <div class="input-group">
                    <ion-icon name="mail"></ion-icon>
                    <input id="email" type="email" placeholder="Nhập email của bạn"/>
                </div>
            </div>

            <p class="form-login-caption">Bằng việc thực hiện đổi mật khẩu, bạn đã đồng ý với <a href="dieu-khoan-dich-vu">Điều khoản dịch vụ</a> và <a href="chinh-sach-bao-mat">Chính sách bảo mật</a> của chúng tôi</p>

            <button id="btnLogin">Đổi mật khẩu</button>
        </form>

        <div class="option-auth">
            <div class="option-left">
                <a class="btnRegister" href="Login">Quay lại đăng nhập</a>
            </div>
            <div class="option-right">
                <a class="btnFogetPass" href="SignUp">Đăng ký tài khoản mới</a>
            </div>
        </div>

        <div class="line"></div>

        <div class="support">
            <h5>Bạn gặp khó khăn khi tạo tài khoản?</h5>
            <p>Vui lòng gọi tới số (+84)-386545891 (giờ hành chính).</p>
        </div>
    </div>

    <div class="carousel">
        <div class="carousel-container">
            <div class="carousel-slide">
                <img src="./image/slider/Financial statistics.png" alt="Slide 1">
                <div class="carousel-caption">
                    <h3>Công cụ tìm việc miễn phí</h3>
                    <p>Nhiều công việc phù hợp với nhu cầu mọi người các vị trí khác nhau. Dễ dàng chỉnh sửa thông tin, tìm việc, nhận việc nhanh chóng.</p>
                </div>
            </div>
            <div class="carousel-slide">
                <img src="./image//slider/Tech support call on the computer.png" alt="Slide 2">
                <div class="carousel-caption">
                    <h3>Bảo mật & An toàn tuyệt đối</h3>
                    <p>Đảm bảo bảo mật và an toàn tuyệt đối - đặt sự yên tâm của bạn lên hàng đầu với công nghệ hiện đại</p>
                </div>
            </div>
            <div class="carousel-slide">
                <img src="./image//slider/young woman talking online.png" alt="Slide 3">
                <div class="carousel-caption">
                    <h3>Hỗ trợ người tìm việc</h3>
                    <p>Nhà tuyển dụng chủ động tìm kiếm và liên hệ với bạn qua hệ thống kết nối ứng viên thông minh.</p>
                </div>
            </div>
        </div>
        <div class="carousel-dots">
            <span class="carousel-dot active" onclick="showSlide(0)"></span>
            <span class="carousel-dot" onclick="showSlide(1)"></span>
            <span class="carousel-dot" onclick="showSlide(2)"></span>
        </div>
    </div>



    <script>

        //slider
        let slideIndex = 0;

        function showSlide(n) {
            const slides = document.querySelectorAll('.carousel-slide');
            const dots = document.querySelectorAll('.carousel-dot');

            slides.forEach(slide => {
                slide.style.display = 'none';
            });

            dots.forEach(dot => {
                dot.classList.remove('active');
            });

            slides[n].style.display = 'flex';
            dots[n].classList.add('active');
        }

        function autoSlide() {
            slideIndex++;
            if (slideIndex >= 3) {
                slideIndex = 0;
            }
        }

        showSlide(slideIndex);

        setInterval(() => {
            autoSlide();
            showSlide(slideIndex);
        }, 5000);

        const dots = document.querySelectorAll('.carousel-dot');
        dots.forEach((dot, index) => {
            dot.addEventListener('click', () => {
                slideIndex = index;
                showSlide(slideIndex);
            });
        });


    </script>
</div>
