@{
    ViewData["Title"] = "Tuyển dụng, tìm việc 24h, tìm việc nhanh, tìm việc hiệu quả cùng JobFinder";
}

<div class="text-center">
    <h1 class="display-4">Trang chủ</h1>
    <h1 class="display-4">Trang chủ</h1>
    <h1 class="display-4">Trang chủ</h1>
    <h1 class="display-4">Trang chủ</h1>
    <h1 class="display-4">Trang chủ</h1>
</div>
