@{
    ViewData["Title"] = "Đăng nhập tài khoản JobFinder";
    Layout = ".. /Shared/_LayoutNonNavBar.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Trang đăng ký tài khoản</h1>
</div>
