@{
    ViewData["Title"] = "Đăng nhập tài khoản JobFinder";
    Layout = "../Shared/_LayoutNonNavBar.cshtml";
}

<div class="content">
    <div class="form-input">
        <a class="logo-brand">
            <img src="./image/Logo.png"/>
        </a>
        <div class="caption">
            <h3>Chào mừng bạn trở lại,</h3>
            <p>Cùng xây dựng một hồ sơ nổi bật và nhận được các cơ hội sự nghiệp lý tưởng</p>
        </div>

        <form class="form-login">
            <div class="box-input">
                <p class="title">Email</p>
                <div class="input-group">
                    <ion-icon name="mail"></ion-icon>
                    <input id="email" type="email" placeholder="Nhập email của bạn"/>
                </div>
            </div>

            <div class="box-input">
                <p class="title">Mật khẩu</p>
                <div class="input-group">
                    <ion-icon name="key"></ion-icon>
                    <input id="password" type="password" placeholder="Nhập mật khẩu" />
                    <ion-icon name="eye-off" id="btnHide"></ion-icon>
                </div>
            </div>

            <button id="btnLogin">Đăng nhập</button>
        </form>

        <div class="social-login">
            <p>Hoặc</p>
            <div class="list-social-button">
                <div class="group-button btn-login-facebook">
                    <ion-icon name="logo-facebook"></ion-icon>
                    <button id="btn-login-facebook">Facebook</button>
                </div>
                <div class="group-button btn-login-google">
                    <ion-icon name="logo-google"></ion-icon>
                    <button id="btn-login-google">Google</button>
                </div>
            </div>
        </div>

        <div class="option-auth">
            <div class="option-left">
                <p>Bạn chưa có tài khoản? </p>
                <a class="btnRegister" href="SignUp">Đăng ký ngay</a>
            </div>
            <div class="option-right">
                <a class="btnFogetPass" href="forgot-password">Quên mật khẩu</a>
            </div>
        </div>

        <div class="line"></div>

        <div class="support">
            <h5>Bạn gặp khó khăn khi tạo tài khoản?</h5>
            <p>Vui lòng gọi tới số (+84)-386545891 (giờ hành chính).</p>
        </div>
    </div>

    <div class="carousel">
        <div class="carousel-container">
            <div class="carousel-slide">
                <img src="./image/slider/Financial statistics.png" alt="Slide 1">
                <div class="carousel-caption">
                    <h3>Công cụ tìm việc miễn phí</h3>
                    <p>Nhiều công việc phù hợp với nhu cầu mọi người các vị trí khác nhau. Dễ dàng chỉnh sửa thông tin, tìm việc, nhận việc nhanh chóng.</p>
                </div>
            </div>
            <div class="carousel-slide">
                <img src="./image//slider/Tech support call on the computer.png" alt="Slide 2">
                <div class="carousel-caption">
                    <h3>Bảo mật & An toàn tuyệt đối</h3>
                    <p>Đảm bảo bảo mật và an toàn tuyệt đối - đặt sự yên tâm của bạn lên hàng đầu với công nghệ hiện đại</p>
                </div>
            </div>
            <div class="carousel-slide">
                <img src="./image//slider/young woman talking online.png" alt="Slide 3">
                <div class="carousel-caption">
                    <h3>Hỗ trợ người tìm việc</h3>
                    <p>Nhà tuyển dụng chủ động tìm kiếm và liên hệ với bạn qua hệ thống kết nối ứng viên thông minh.</p>
                </div>
            </div>
        </div>
        <div class="carousel-dots">
            <span class="carousel-dot active" onclick="showSlide(0)"></span>
            <span class="carousel-dot" onclick="showSlide(1)"></span>
            <span class="carousel-dot" onclick="showSlide(2)"></span>
        </div>
    </div>



    <script>
        let getIcon = document.getElementById("btnHide");
        let getInputPas = document.getElementById("password");
        let on = "eye";
        let off = "eye-off";

        getIcon.addEventListener("click", function(){
            let currentIconName = getIcon.getAttribute("name");

            if(currentIconName === on) {
                getIcon.setAttribute("name", off);
                getInputPas.setAttribute("type", "password");

            } else {
                getIcon.setAttribute("name", on);
                getInputPas.setAttribute("type", "text");
            }
        })


        //slider
        let slideIndex = 0;

        function showSlide(n) {
            const slides = document.querySelectorAll('.carousel-slide');
            const dots = document.querySelectorAll('.carousel-dot');

            slides.forEach(slide => {
                slide.style.display = 'none';
            });

            dots.forEach(dot => {
                dot.classList.remove('active');
            });

            slides[n].style.display = 'flex';
            dots[n].classList.add('active');
        }

        function autoSlide() {
            slideIndex++;
            if (slideIndex >= 3) {
                slideIndex = 0;
            }
        }

        showSlide(slideIndex);

        setInterval(() => {
            autoSlide();
            showSlide(slideIndex);
        }, 5000);

        const dots = document.querySelectorAll('.carousel-dot');
        dots.forEach((dot, index) => {
            dot.addEventListener('click', () => {
                slideIndex = index;
                showSlide(slideIndex);
            });
        });


    </script>
</div>
